<footer class="footer">
  <div class="container">
    <nav class="footer-nav">
      <a class="footer-logo" href="./index.html" aria-label="go to homepage">
        <svg class="footer-icon" width="196" height="84">
          <use class="footer-icon-svg" href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="footer-list">
        <li class="footer-list-item">
          <a href="#hero" class="footer-list-link" aria-label="go to homepage"
            >Home</a
          >
        </li>
        <li class="footer-list-item">
          <a
            href="#about"
            class="footer-list-link"
            aria-label="go to About Us section"
            >About Us</a
          >
        </li>
        <li class="footer-list-item">
          <a
            href="#speakers"
            class="footer-list-link"
            aria-label="go to Speakers section"
            >Speakers</a
          >
        </li>
        <li class="footer-list-item">
          <a
            href="#schedule"
            class="footer-list-link"
            aria-label="go to Schedule section"
            >Schedule</a
          >
        </li>
        <li class="footer-list-item">
          <a
            href="#gallery"
            class="footer-list-link"
            aria-label="go to Gallery section"
            >Gallery</a
          >
        </li>
        <li class="footer-list-item">
          <a
            href="#testimonials"
            class="footer-list-link"
            aria-label="go to Testimonials section"
            >Testimonials</a
          >
        </li>
      </ul>
    </nav>

    <div class="footer-line"></div>
    <p class="footer-rights">
      &copy; 2025 Educational Conference. All rights reserved.
    </p>
  </div>
</footer>
