<header class="page-header">
  <div class="container">
    <nav class="header-nav">
      <a class="header-nav-logo" href="./index.html" aria-label="Home">
        <svg class="header-nav-logo-icon" width="158" height="37">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#hero">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about">About Us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#speakers">Speakers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#schedule">Schedule</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </nav>

    <button class="burger-button" type="button" aria-label="open menu">
      <svg class="burger-button-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>

    <a class="blue-link-button hide" href="#register">Register Now</a>
  </div>
</header>
