<section class="hero" id="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">Join Us for EduConf 2025</h1>
      <div class="hero-row">
        <p class="hero-text">
          Mark your calendars for the Educational Conference 2025, happening on
          August 15-17, 2025. This event is designed for educators and
          innovators eager to explore the latest trends in education.
        </p>
        <a href="#schedule" class="hero-button big-blue-btn">Learn More</a>
      </div>
    </div>
    <picture class="hero-picture">
      <!-- WebP версії -->
      <source
        srcset="
          ./img/hero/webp/hero-desktop.webp    1x,
          ./img/hero/webp/hero-desktop@2x.webp 2x
        "
        width="1312"
        height="738"
        media="(min-width: 1440px)"
        type="image/webp"
      />
      <source
        srcset="
          ./img/hero/webp/hero-tablet.webp    1x,
          ./img/hero/webp/hero-tablet@2x.webp 2x
        "
        width="704"
        height="396"
        media="(min-width: 768px)"
        type="image/webp"
      />

      <!-- JPEG версії -->
      <source
        srcset="
          ./img/hero/jpeg/hero-desktop.jpg    1x,
          ./img/hero/jpeg/hero-desktop@2x.jpg 2x
        "
        width="1312"
        height="738"
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/hero/jpeg/hero-tablet.jpg    1x,
          ./img/hero/jpeg/hero-tablet@2x.jpg 2x
        "
        width="704"
        height="396"
        media="(min-width: 768px)"
      />

      <!-- WebP для мобільних -->
      <source
        srcset="
          ./img/hero/webp/hero-mobile.webp    1x,
          ./img/hero/webp/hero-mobile@2x.webp 2x
        "
        type="image/webp"
        width="335"
        height="188"
      />

      <!-- fallback JPEG мобільні -->
      <img
        class="hero-image"
        srcset="./img/hero/jpeg/hero-mobile@2x.jpg 2x"
        src="./img/hero/jpeg/hero-mobile.jpg"
        alt="Audience at a conference"
        width="335"
        height="188"
        fetchpriority="high"
      />
    </picture>
  </div>
</section>
