<div class="mobile-menu">
  <div class="container mobile-menu-container">
    <div class="menu-logo-and-button-container">
      <a class="menu-nav-logo" href="./index.html" aria-label="Home">
        <svg class="menu-nav-logo-icon" width="158" height="37">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <button
        class="mobile-menu-close-btn"
        type="button"
        aria-label="Close-button"
      >
        <svg class="mobile-menu-close-btn-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <div class="nav-and-btn-container">
      <nav>
        <ul class="menu-nav-list">
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="./index.html">Home</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="#about">About Us</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="#speakers">Speakers</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="#schedule">Schedule</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="#gallery">Gallery</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="#testimonials">Testimonials</a>
          </li>
        </ul>
      </nav>

      <a
        class="blue-link-button"
        id="mobile-menu-register-btn"
        href="#register"
        aria-label="Register-button"
        >Register Now</a
      >
    </div>
  </div>
</div>
