<div class="backdrop-success">
  <div class="modal-success">
    <button class="succes-close-btn" aria-label="close modal window">
      <svg class="succes-close-btn-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <picture>
      <!-- Desktop -->
      <source
        srcset="
          ./img/modal-success/webp/modal-success-desktop.webp    1x,
          ./img/modal-success/webp/modal-success-desktop@2x.webp 2x
        "
        media="(min-width: 1440px)"
        type="image/webp"
        width="640"
      />

      <source
        srcset="
          ./img/modal-success/jpg/modal-success-desktop.jpg    1x,
          ./img/modal-success/jpg/modal-success-desktop@2x.jpg 2x
        "
        media="(min-width: 1440px)"
        width="640"
      />
      <!-- Tablet -->
      <source
        srcset="
          ./img/modal-success/webp/modal-success-tablet.webp    1x,
          ./img/modal-success/webp/modal-success-tablet@2x.webp 2x
        "
        media="(min-width: 768px)"
        type="image/webp"
        width="576"
      />

      <source
        srcset="
          ./img/modal-success/jpg/modal-success-tablet.jpg    1x,
          ./img/modal-success/jpg/modal-success-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
        width="576"
      />
      <!-- Mobile -->
      <source
        srcset="
          ./img/modal-success/webp/modal-success-mob.webp    1x,
          ./img/modal-success/webp/modal-success-mob@2x.webp 2x
        "
        media="(max-width: 767px)"
        type="image/webp"
        width="295"
      />
      <img
        srcset="./img/modal-success/jpg/modal-success-mob@2x.jpg 2x"
        src="./img/modal-success/jpg/modal-success-mob.jpg"
        alt="A close-up,a person smiling warmly at their laptop screen"
        width="295"
        loading="lazy"
        decoding="async"
      />
    </picture>
    <h2 class="modal-success-title">Success! You're registered.</h2>
    <p class="modal-success-text">
      We've sent a confirmation to your email address. Please check your inbox
      (and your spam folder) to find your ticket and further instructions.
      <br />
      See you at the conference!
    </p>
    <button class="big-blue-btn" aria-label="close-button-modal-succes">
      Close
    </button>
  </div>
</div>
