<section class="register" id="register">
  <div class="container">
    <div class="register-text-content-wrapper">
      <div class="register-desc-wrapper">
        <h2 class="register-title">Secure Your Spot</h2>

        <p class="register-desc">
          Don't miss out on two days of innovation, networking, and learning.
          Complete your registration in just a few steps and get ready to be
          inspired at EduConf 2025.
        </p>
      </div>
      <form class="register-form">
        <div class="register-labels-wrapper">
          <div class="register-form-field-wrapper">
            <label class="register-form-field-label" for="user-name"
              >Name*</label
            >
            <div class="register-input-wrapper">
              <input
                class="register-form-input"
                type="text"
                id="user-name"
                name="user-name"
                placeholder="Enter your full name"
                pattern="^[A-Za-z]+(?:\s+[A-Za-z]+)+$"
                title="Введіть своє повне ім'я (ім'я та прізвище латиницею)"
                required
              />
            </div>
          </div>
          <div class="register-form-field-wrapper">
            <label class="register-form-field-label" for="user-mail"
              >Email*</label
            >
            <div class="register-input-wrapper">
              <input
                class="register-form-input"
                type="email"
                id="user-mail"
                name="user-email"
                placeholder="Enter your email address"
                required
              />
              <!-- pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" -->
            </div>
          </div>
          <button
            class="big-blue-btn"
            type="submit"
            aria-label="register button"
          >
            Register Now
          </button>
        </div>
      </form>
    </div>

    <picture>
      <!-- Desktop -->
      <source
        srcset="
          ./img/register/webp/register-desktop.webp    1x,
          ./img/register/webp/register-desktop@2x.webp 2x
        "
        media="(min-width: 1440px)"
        type="image/webp"
        width="640"
      />

      <source
        srcset="
          ./img/register/register-jpeg/register-desktop.jpg    1x,
          ./img/register/register-jpeg/register-desktop@2x.jpg 2x
        "
        media="(min-width: 1440px)"
        width="640"
      />
      <!-- Tablet -->
      <source
        srcset="
          ./img/register/webp/register-tablet.webp    1x,
          ./img/register/webp/register-tablet@2x.webp 2x
        "
        media="(min-width: 768px)"
        type="image/webp"
        width="340"
      />

      <source
        srcset="
          ./img/register/register-jpeg/register-tablet.jpg    1x,
          ./img/register/register-jpeg/register-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
        width="340"
      />
      <!-- Mobile -->
      <source
        srcset="
          ./img/register/webp/register-mobile.webp    1x,
          ./img/register/webp/register-mobile@2x.webp 2x
        "
        media="(max-width: 767px)"
        type="image/webp"
        width="335"
      />

      <img
        srcset="./img/register/register-jpeg/register-mobile@2x.jpg 2x"
        src="./img/register/register-jpeg/register-mobile.jpg"
        width="335"
        alt="Person handing event badge"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </div>
</section>
