<section class="speakers" id="speakers">
  <div class="container">
    <h2 class="speakers-title">Meet our Speakers</h2>
    <ul class="speakers-list">
      <li class="speaker">
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ./img/speakers/webp/image1-desktop.webp    1x,
              ./img/speakers/webp/image1-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
            width="304"
          />

          <source
            srcset="
              ./img/speakers/jpg/image1-desktop.jpg    1x,
              ./img/speakers/jpg/image1-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            width="304"
          />
          <!-- Tablet -->
          <source
            srcset="
              ./img/speakers/webp/image1-tablet.webp    1x,
              ./img/speakers/webp/image1-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
            width="336"
          />

          <source
            srcset="
              ./img/speakers/jpg/image1-tablet.jpg    1x,
              ./img/speakers/jpg/image1-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="336"
          />

          <!-- Mobile -->
          <source
            srcset="
              ./img/speakers/webp/image1-mobile.webp    1x,
              ./img/speakers/webp/image1-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
            width="335"
          />

          <img
            srcset="
              ./img/speakers/jpg/image1-mobile.jpg    1x,
              ./img/speakers/jpg/image1-mobile@2x.jpg 2x
            "
            src="./img/speakers/jpg/image1-mobile.jpg"
            width="335"
            loading="lazy"
            decoding="async"
            alt="Prof. David Johnson"
          />
        </picture>
        <div class="speaker-info-wrapper">
          <h3 class="speaker-name">Prof. David Johnson</h3>
          <p class="speaker-position">Professor of Educational Policy</p>
          <p class="speaker-desc">
            With over 20 years of experience in shaping educational frameworks,
            Professor Johnson will moderate our panel discussion, bringing his
            deep understanding of policy and practice to the forefront of the
            conversation.
          </p>
        </div>
        <ul class="social-list">
          <li class="social-list-item">
            <a
              class="social-link"
              href="https://www.linkedin.com/feed/"
              aria-label="Go to linkedIn"
              target="_blank"
            >
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#" aria-label="Go to instagram">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li> -->
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#" aria-label="Go to Facebook">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li> -->
          <li class="social-list-item">
            <a
              class="social-link"
              href="https://x.com/"
              aria-label="Go to X"
              target="_blank"
            >
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-x"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="speaker">
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ./img/speakers/webp/image2-desktop.webp    1x,
              ./img/speakers/webp/image2-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
            width="304"
          />

          <source
            srcset="
              ./img/speakers/jpg/image2-desktop.jpg    1x,
              ./img/speakers/jpg/image2-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            width="304"
          />
          <!-- Tablet -->
          <source
            srcset="
              ./img/speakers/webp/image2-tablet.webp    1x,
              ./img/speakers/webp/image2-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
            width="336"
          />

          <source
            srcset="
              ./img/speakers/jpg/image2-tablet.jpg    1x,
              ./img/speakers/jpg/image2-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="336"
          />

          <!-- Mobile -->
          <source
            srcset="
              ./img/speakers/webp/image2-mobile.webp    1x,
              ./img/speakers/webp/image2-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
            width="335"
          />

          <img
            srcset="
              ./img/speakers/jpg/image2-mobile.jpg    1x,
              ./img/speakers/jpg/image2-mobile@2x.jpg 2x
            "
            src="./img/speakers/jpg/image2-mobile.jpg"
            width="335"
            alt="Dr. Evelyn Smith"
            loading="lazy"
            decoding="async"
          />
        </picture>
        <div class="speaker-info-wrapper">
          <h3 class="speaker-name">Dr. Evelyn Smith</h3>
          <p class="speaker-position">Educational Futurist & Marketing Guru</p>
          <p class="speaker-desc">
            Dr. Smith is a renowned thought leader on the intersection of
            education and marketing. Her opening keynote will set the stage for
            the future of learning, and her later session will provide marketing
            strategies for educational institutions.
          </p>
        </div>
        <ul class="social-list">
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li> -->
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li> -->
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li> -->
          <li class="social-list-item">
            <a
              class="social-link"
              href="https://x.com/"
              aria-label="Go to X"
              target="_blank"
            >
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-x"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="speaker">
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ./img/speakers/webp/image3-desktop.webp    1x,
              ./img/speakers/webp/image3-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
            width="304"
          />

          <source
            srcset="
              ./img/speakers/jpg/image3-desktop.jpg    1x,
              ./img/speakers/jpg/image3-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            width="304"
          />
          <!-- Tablet -->
          <source
            srcset="
              ./img/speakers/webp/image3-tablet.webp    1x,
              ./img/speakers/webp/image3-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
            width="336"
          />

          <source
            srcset="
              ./img/speakers/jpg/image3-tablet.jpg    1x,
              ./img/speakers/jpg/image3-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="336"
          />

          <!-- Mobile -->
          <source
            srcset="
              ./img/speakers/webp/image3-mobile.webp    1x,
              ./img/speakers/webp/image3-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
            width="335"
          />

          <img
            srcset="
              ./img/speakers/jpg/image3-mobile.jpg    1x,
              ./img/speakers/jpg/image3-mobile@2x.jpg 2x
            "
            src="./img/speakers/jpg/image3-mobile.jpg"
            width="335"
            alt="Dr. Kenji Brown"
            loading="lazy"
            decoding="async"
          />
        </picture>
        <div class="speaker-info-wrapper">
          <h3 class="speaker-name">Dr. Kenji Brown</h3>
          <p class="speaker-position">CEO of EduInnovate Corp.</p>
          <p class="speaker-desc">
            As the founder of a leading EdTech startup, Dr. Brown is at the
            cutting edge of educational innovation. His session will explore
            transformative technologies that are shaping the future of
            education.
          </p>
        </div>
        <ul class="social-list">
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li> -->
          <li class="social-list-item">
            <a
              class="social-link"
              href="https://www.instagram.com/"
              aria-label="Go to instagram"
              target="_blank"
            >
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li> -->
          <li class="social-list-item">
            <a
              class="social-link"
              href="https://x.com/"
              aria-label="Go to X"
              target="_blank"
            >
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-x"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="speaker">
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ./img/speakers/webp/image4-desktop.webp    1x,
              ./img/speakers/webp/image4-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
            width="304"
          />

          <source
            srcset="
              ./img/speakers/jpg/image4-desktop.jpg    1x,
              ./img/speakers/jpg/image4-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            width="304"
          />
          <!-- Tablet -->
          <source
            srcset="
              ./img/speakers/webp/image4-tablet.webp    1x,
              ./img/speakers/webp/image4-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
            width="336"
          />

          <source
            srcset="
              ./img/speakers/jpg/image4-tablet.jpg    1x,
              ./img/speakers/jpg/image4-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="336"
          />

          <!-- Mobile -->
          <source
            srcset="
              ./img/speakers/webp/image4-mobile.webp    1x,
              ./img/speakers/webp/image4-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
            width="335"
          />

          <img
            srcset="
              ./img/speakers/jpg/image4-mobile.jpg    1x,
              ./img/speakers/jpg/image4-mobile@2x.jpg 2x
            "
            src="./img/speakers/jpg/image4-mobile.jpg"
            width="335"
            alt="Ms. Chloe Lee"
            loading="lazy"
            decoding="async"
          />
        </picture>
        <div class="speaker-info-wrapper">
          <h3 class="speaker-name">Ms. Chloe Lee</h3>
          <p class="speaker-position">Lead AI & Machine Learning Researcher</p>
          <p class="speaker-desc">
            Ms. Lee specializes in the application of artificial intelligence in
            learning environments. She will demystify complex AI concepts and
            showcase the latest innovations during her sessions on AI and
            Machine Learning basics.
          </p>
        </div>
        <ul class="social-list">
          <li class="social-list-item">
            <a
              class="social-link"
              href="https://www.linkedin.com/feed/"
              aria-label="Go to linkedIn"
              target="_blank"
            >
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#" aria-label="Go to instagram">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li> -->
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#" aria-label="Go to Facebook">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li> -->
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#" aria-label="Go to X">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-x"></use>
              </svg>
            </a>
          </li> -->
        </ul>
      </li>
      <li class="speaker">
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ./img/speakers/webp/image5-desktop.webp    1x,
              ./img/speakers/webp/image5-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
            width="304"
          />

          <source
            srcset="
              ./img/speakers/jpg/image5-desktop.jpg    1x,
              ./img/speakers/jpg/image5-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            width="304"
          />
          <!-- Tablet -->
          <source
            srcset="
              ./img/speakers/webp/image5-tablet.webp    1x,
              ./img/speakers/webp/image5-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
            width="336"
          />

          <source
            srcset="
              ./img/speakers/jpg/image5-tablet.jpg    1x,
              ./img/speakers/jpg/image5-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="336"
          />

          <!-- Mobile -->
          <source
            srcset="
              ./img/speakers/webp/image5-mobile.webp    1x,
              ./img/speakers/webp/image5-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
            width="335"
          />

          <img
            srcset="
              ./img/speakers/jpg/image5-mobile.jpg    1x,
              ./img/speakers/jpg/image5-mobile@2x.jpg 2x
            "
            src="./img/speakers/jpg/image5-mobile.jpg"
            width="335"
            alt="Dr. Aarav Patel"
            loading="lazy"
            decoding="async"
          />
        </picture>
        <div class="speaker-info-wrapper">
          <h3 class="speaker-name">Dr. Aarav Patel</h3>
          <p class="speaker-position">UX Strategist & Design Thinking Expert</p>
          <p class="speaker-desc">
            Dr. Patel champions human-centered design in technology. He will
            lead a hands-on workshop on Design Thinking and share his expertise
            on creating intuitive user experiences for educational platforms.
          </p>
        </div>
        <ul class="social-list">
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#" aria-label="Go to linkedIn">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li> -->
          <li class="social-list-item">
            <a
              class="social-link"
              href="https://www.instagram.com/"
              aria-label="Go to instagram"
              target="_blank"
            >
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#" aria-label="Go to Facebook">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li> -->
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#" aria-label="Go to X">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-x"></use>
              </svg>
            </a>
          </li> -->
        </ul>
      </li>
      <li class="speaker">
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ./img/speakers/webp/image6-desktop.webp    1x,
              ./img/speakers/webp/image6-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
            width="304"
          />

          <source
            srcset="
              ./img/speakers/jpg/image6-desktop.jpg    1x,
              ./img/speakers/jpg/image6-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            width="304"
          />
          <!-- Tablet -->
          <source
            srcset="
              ./img/speakers/webp/image6-tablet.webp    1x,
              ./img/speakers/webp/image6-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
            width="336"
          />

          <source
            srcset="
              ./img/speakers/jpg/image6-tablet.jpg    1x,
              ./img/speakers/jpg/image6-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="336"
          />

          <!-- Mobile -->
          <source
            srcset="
              ./img/speakers/webp/image6-mobile.webp    1x,
              ./img/speakers/webp/image6-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
            width="335"
          />

          <img
            srcset="
              ./img/speakers/jpg/image6-mobile.jpg    1x,
              ./img/speakers/jpg/image6-mobile@2x.jpg 2x
            "
            src="./img/speakers/jpg/image6-mobile.jpg"
            width="335"
            alt="Ms. Sofia Garcia"
            loading="lazy"
            decoding="async"
          />
        </picture>
        <div class="speaker-info-wrapper">
          <h3 class="speaker-name">Ms. Sofia Garcia</h3>
          <p class="speaker-position">Data Scientist & Information Designer</p>
          <p class="speaker-desc">
            Ms. Garcia transforms complex data into compelling visual stories.
            Her session will cover powerful data visualization techniques that
            can enhance research, reporting, and student understanding.
          </p>
        </div>
        <ul class="social-list">
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#" aria-label="Go to linkedIn">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li> -->
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#" aria-label="Go to instagram">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li> -->
          <li class="social-list-item">
            <a
              class="social-link"
              href=" https://www.facebook.com/"
              aria-label="Go to Facebook"
              target="_blank"
            >
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#" aria-label="Go to X">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-x"></use>
              </svg>
            </a>
          </li> -->
        </ul>
      </li>
      <li class="speaker">
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ./img/speakers/webp/image7-desktop.webp    1x,
              ./img/speakers/webp/image7-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
            width="304"
          />

          <source
            srcset="
              ./img/speakers/jpg/image7-desktop.jpg    1x,
              ./img/speakers/jpg/image7-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            width="304"
          />
          <!-- Tablet -->
          <source
            srcset="
              ./img/speakers/webp/image7-tablet.webp    1x,
              ./img/speakers/webp/image7-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
            width="336"
          />

          <source
            srcset="
              ./img/speakers/jpg/image7-tablet.jpg    1x,
              ./img/speakers/jpg/image7-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="336"
          />

          <!-- Mobile -->
          <source
            srcset="
              ./img/speakers/webp/image7-mobile.webp    1x,
              ./img/speakers/webp/image7-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
            width="335"
          />

          <img
            srcset="
              ./img/speakers/jpg/image7-mobile.jpg    1x,
              ./img/speakers/jpg/image7-mobile@2x.jpg 2x
            "
            src="./img/speakers/jpg/image7-mobile.jpg"
            width="335"
            alt="Mr. Ben Thompson"
            loading="lazy"
            decoding="async"
          />
        </picture>
        <div class="speaker-info-wrapper">
          <h3 class="speaker-name">Mr. Ben Thompson</h3>
          <p class="speaker-position">Technology Ethicist & Author</p>
          <p class="speaker-desc">
            Mr. Thompson is a leading voice in the discussion on digital ethics.
            He will explore the critical ethical considerations of implementing
            new technologies in education, urging a responsible approach to
            innovation.
          </p>
        </div>
        <ul class="social-list">
          <li class="social-list-item">
            <a
              class="social-link"
              href="https://www.linkedin.com/feed/"
              aria-label="Go to linkedIn"
              target="_blank"
            >
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#" aria-label="Go to instagram">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li> -->
          <li class="social-list-item">
            <a
              class="social-link"
              href="https://www.facebook.com/"
              aria-label="Go to Facebook"
              target="_blank"
            >
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#" aria-label="Go to X">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-x"></use>
              </svg>
            </a>
          </li> -->
        </ul>
      </li>
      <li class="speaker">
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ./img/speakers/webp/image8-desktop.webp    1x,
              ./img/speakers/webp/image8-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
            width="304"
          />

          <source
            srcset="
              ./img/speakers/jpg/image8-desktop.jpg    1x,
              ./img/speakers/jpg/image8-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            width="304"
          />
          <!-- Tablet -->
          <source
            srcset="
              ./img/speakers/webp/image8-tablet.webp    1x,
              ./img/speakers/webp/image8-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
            width="336"
          />

          <source
            srcset="
              ./img/speakers/jpg/image8-tablet.jpg    1x,
              ./img/speakers/jpg/image8-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="336"
          />

          <!-- Mobile -->
          <source
            srcset="
              ./img/speakers/webp/image8-mobile.webp    1x,
              ./img/speakers/webp/image8-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
            width="335"
          />

          <img
            srcset="
              ./img/speakers/jpg/image8-mobile.jpg    1x,
              ./img/speakers/jpg/image8-mobile@2x.jpg 2x
            "
            src="./img/speakers/jpg/image8-mobile.jpg"
            width="335"
            alt="Mr. Marco Rodriguez"
            loading="lazy"
            decoding="async"
          />
        </picture>
        <div class="speaker-info-wrapper">
          <h3 class="speaker-name">Mr. Marco Rodriguez</h3>
          <p class="speaker-position">Superintendent & Education Reformer</p>
          <p class="speaker-desc">
            With a career dedicated to transforming public education, Mr.
            Rodriguez will deliver an inspiring closing keynote, reflecting on
            the conference's themes and issuing a powerful call to action for
            all attendees.
          </p>
        </div>
        <ul class="social-list">
          <li class="social-list-item">
            <a
              class="social-link"
              href="https://www.linkedin.com/feed/"
              aria-label="Go to linkedIn"
              target="_blank"
            >
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#" aria-label="Go to instagram">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li> -->
          <!-- <li class="social-list-item visually-hidden">
            <a class="social-link" href="#" aria-label="Go to Facebook">
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li> -->
          <li class="social-list-item">
            <a
              class="social-link"
              href="https://x.com/"
              aria-label="Go to X"
              target="_blank"
            >
              <svg class="icon" width="24" height="24">
                <use href="./img/icons.svg#icon-x"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
