@media screen {
  .footer {
    background: var(--color-scheme-2-background);
  }
  .footer .container {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
  }
  .footer-logo {
    display: block;
    fill: var(--color-white);
    text-align: center;
    cursor: pointer;
    max-width: 196px;
    margin: 0 auto;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-scheme-2-text);
    margin-bottom: 64px;
  }
  .footer-list-link {
    display: inline-block;
    color: var(--color-scheme-2-text);
    padding-bottom: 16px;
    padding-top: 16px;
    position: relative;
  }

  .footer-list-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 1px;
    background-color: var(--color-scheme-1-text);
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 250ms linear, background-color 250ms linear;
  }

  .footer-list-link:hover::after,
  .footer-list-link:focus::after {
    transform: scaleX(1);
    background-color: var(--color-scheme-2-border);
  }

  .footer-list-link:active::after {
    background-color: var(--color-scheme-1-accent);
  }

  .footer-line {
    border: 2px solid var(--color-scheme-2-border);
    height: 0px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 32px;
  }
  .footer-rights {
    position: absolute;
    font-size: 14px;
    color: var(--color-scheme-2-text);
    transform: translateX(-1%);
  }
}

@media screen and (min-width: 768px) {
  .footer-list {
    flex-direction: row;
  }

  .footer-rights {
    position: static;
    text-align: center;
    transform: translateX(0%);
  }
}
@media screen and (min-width: 1440px) {
  .footer .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
