@media screen and (min-width: 375px) {
  .page-header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .page-header {
    background-color: var(--color-white);
    position: fixed;
    top: 0;
    width: 100%;
    transition: box-shadow 250ms linear;
  }

  .page-header.scrolled {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .hide {
    display: none;
  }

  .header-nav-logo {
    display: inline-flex;
    cursor: pointer;
  }

  .burger-button {
    padding: 0;
    line-height: 0;
    display: inline-flex;
  }

  .register-button {
    display: none;
  }

  .header-nav-list {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .page-header .container {
    padding: 0 64px;
  }

  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-nav-logo {
    margin-right: 24px;
  }

  .header-nav-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .header-nav-link {
    position: relative;

    display: inline-block;
    padding: 24px 0;

    transition: color 250ms linear;
  }

  .header-nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 22px;
    width: 100%;
    height: 1px;
    background-color: var(--color-scheme-1-text);
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: center;

    transition: transform 250ms linear;
  }

  .header-nav-link:hover::after,
  .header-nav-link:focus::after {
    transform: scaleX(1);
  }

  .header-nav-link:active::after {
    background-color: var(--color-scheme-1-accent);
  }

  .header-nav-link:active {
    color: var(--color-scheme-1-accent);
  }

  .page-header .blue-link-button {
    display: block;
  }

  .burger-button {
    display: none;
  }
}

@media screen and (max-width: 1439px) {
  .page-header .big-blue-btn {
    display: none;
  }

  .header-nav-list {
    display: none;
  }
}
