.speakers-title {
  text-align: center;
  margin-bottom: 40px;

  @media screen and (min-width: 1440px) {
    font-size: 48px;
  }
}

.speakers-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
  }

  @media screen and (min-width: 1440px) {
    row-gap: 64px;
  }
}

.speaker-info-wrapper {
  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.speaker {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
  }

  @media screen and (min-width: 1440px) {
    flex-basis: calc((100% - 96px) / 4);
  }
}

.speaker-position {
  font-size: 18px;
  margin-bottom: 16px;
  flex-grow: 1;
}

.speaker-desc {
  font-size: 16px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 14px;
}

/* .speakers-list.icon:hover,
.speakers-list.icon:focus {
  fill: var(--color-scheme-1-accent);
  transition: color 250ms linear;
} */

.social-link:hover,
.social-link:focus {
  fill: var(--color-scheme-1-accent);
  transition: fill 250ms linear;
}
